@import 'tailwindcss';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
    --font-sans: 'Poppins', 'Nunito', 'Helvetica', sans-serif;

    --color-black: #000;
    --color-white: #fff;
    --color-error: #ef1f1f;

    --color-primary: #4F3FE0;
    --color-primary-hover: #5f04e6;

    --color-secondary: #EEEEF5;

    --color-background: #F8F8FB;
}
