@import 'tailwindcss';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
    --font-sans: 'Poppins', 'Nunito', 'Helvetica', sans-serif;
    --font-title: 'Fraunces', Georgia, 'Times New Roman', serif;

    --color-black: #000;
    --color-white: #fff;

    --color-error: #ef1f1f;
    --color-success: #029c03;

    --color-primary: #4F3FE0;
    --color-primary-hover: #5f04e6;

    --color-secondary: #EEEEF5;

    --color-background: #F8F8FB;
}

.alert-success {
    @apply bg-green-100 border border-green-400 w-fit fixed top-8 right-8 text-green-700 px-5 py-3 rounded-md mb-5 z-100;
    animation: slideIn 0.3s ease-out, fadeOut 0.5s ease-in 2s forwards;
}
.alert-delete {
    @apply bg-red-100 border border-red-400 w-fit fixed top-8 right-8 text-red-700 px-5 py-3 rounded-md mb-5 z-100;
    animation: slideIn 0.3s ease-out, fadeOut 0.5s ease-in 2s forwards;
}
